day8/w1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/w1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="w1" targetNamespace="http://www.example.org/w1/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/w1/">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part name="parameters" type="xsd:string"/>
    <wsdl:part name="parameters" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="w1">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="w1SOAP" type="tns:w1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://www.example.org/w1/add"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="w1">
    <wsdl:port binding="tns:w1SOAP" name="w1SOAP">
      <soap:address location="http://localhost:10088/phpexp/demo/soap.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
